.navbar {
   padding: 20px;
   position: fixed;
   background-color: #fff;
   top: 0;
   width: 80%; /* Make it span the full width on smaller screens */
   z-index: 1000;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: 0.3s;
 }
 
 .navbar .log {
   width: 120px; /* Default logo size */
   transition: width 0.3s;
 }
 
 .navbar-menu {
   display: flex;
   list-style: none;
   gap: 20px;
   color: #49557e;
   font-size: 18px;
 }
 
 .navbar-right {
   display: flex;
   align-items: center;
   gap: 20px;
 }
 
 .navbar button {
   background: transparent;
   font-size: 16px;
   color: #49557e;
   border: 1px solid tomato;
   padding: 8px 20px;
   border-radius: 50px;
   cursor: pointer;
   transition: 0.3s;
   margin-top: 15px;
 }
 
 .navbar button:hover {
   background: tomato;
   color: #fff;
 }
 
 .navbar .active {
   padding-bottom: 2px;
   border-bottom: 2px solid tomato;
   color: tomato;
 }
 
 .dot {
   position: absolute;
   top: -5px;
   right: -5px;
   background-color: tomato;
   color: #fff;
   padding: 3px 6px;
   border-radius: 50%;
   font-size: 12px;
 }
 
 /* Adjustments for tablet and smaller screens */
 @media (max-width: 1050px) {
   .navbar .log {
     width: 110px; /* Adjust logo size for this breakpoint */
   }
   
   .navbar-menu {
     gap: 15px;
     font-size: 16px;
   }
   
   .navbar-right {
     gap: 20px;
   }
 }
 
 @media (max-width: 900px) {
   .navbar .log {
     width: 100px; /* Further adjust logo size */
   }
   
   .navbar-menu {
     font-size: 15px;
   }
   
   .navbar button {
     padding: 7px 18px;
   }
 }
 
 /* Mobile-specific adjustments */
 @media (max-width: 750px) {
   .navbar-menu {
     display: none; /* Hide menu items */
   }
   
   .navbar .log {
     width: 80px; /* Adjust logo size for mobile */
   }
   .logo{
      width: 80px;
   }
   
   .navbar-right {
     gap: 15px;
   }
   
   .navbar button {
     padding: 2px 8px;
     font-size: 12px;
     width: auto; /* Let the width adjust to the content */
     height: 25px; /* Adjust height */
     margin-top: 10px; /* Adjust top margin */
   }
   
   .menu-toggle {
     display: block;
     font-size: 24px;
     cursor: pointer;
   }
 }
 